<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Great Number Game</title>
    </head>
    <body>
        <h2> Welcome to the Great Number Game!</h2>
        <br>
        <p>I am thinking of a number between 1 and 100</p>
        <br>
        <p>Take a guess!</p>
        <br>
        <br>
        <form action="/guess" method= 'post'>
            <input type="text" name="text" id="class" placeholder="Guess Here">
            <input type="submit" value="submit">
        </form>
        <p>{{result}}</p>
    
    </body>
</html>